
/**
 *
 *  A Vitamin Plus+ Orange - sub template
 *
 *  Website:http://www.themes-drupal.org
 *
 *  Author:http://www.finex.org
 *
 */

/********************************* LAYOUT ************************************/

#page_wrapper{background-image:url(img/orange.png)}

#page{color:#574B4B}

.sidebar{
  background-color:#ffca7f;
  border:1px solid #db8100;
}

#mission{
  background-color:#ffca7f;
  border:1px solid #db8100;
}

#footer{border-top:1px solid #dedede}

.sidebar{color:#66472A}

/******************************** TYPOGRAPHY **********************************/

pre{
  border:1px solid #EFEEEE;
  background-color:#FCFBFB;
}

tt, code{background-color:#F8F7F7}

table caption{background-color:#F8F7F7}

thead th,
tbody th{background-color:#F7F0F1}

tbody td{border-bottom:1px solid #EFEEEE}

tr.odd{background-color:#FAF4F5}

img.imgLeft{border:1px solid #F7F0F1}

img.imgRight{border:1px solid #F7F0F1}

/********************************** LINKS *************************************/

a{color:#D17E07}

li a.active{color:#D17E07}

a:hover{
  text-decoration:underline;
  color:#6f6f81;
}

#footer_message a{color:#DCBBBB}

#credits a{color:#DCBBBB}

/********************************* HEADINGS ***********************************/

h1{
  color:white;
  text-shadow:1px 1px 1px  #db8100;
  background-color:#ff9600;
  border:1px solid #db8100;
}

h2, h3, h4, h5{
  color:#ff9600;
  background:none;
  border:none;
  padding:0;
}

.sidebar .block h3{
  background-color:#ff9500;
  border:1px solid #db8100;
  text-shadow:none;
  color:white;
}

/******************************** NAVIGATION **********************************/

#navigation a{
  color:#47361e;
}

#navigation li.active-trail a,
#navigation li.active a,
#navigation a.active{
  color:white;
  background-color:#47361e;
}

#navigation a:hover{
  color:white;
  background-color:#ff9600
}

/* Drop down
*******************************************************************************/
#navigation li.active-trail li a,
#navigation li.active li a,
#navigation li li a.active{
  color:#47361e;
}

#navigation ul li:hover ul li a:hover,
#navigation ul li.hover ul li a:hover
#navigation ul li ul li a:hover{
  background-color:#ff9600;
  color:white;
}

/********************************** PAGER *************************************/

ul.pager li a{
  border:1px solid #ff9600;
  background-color:#ffca7f;
}

ul.pager li.pager-current{
  border:1px solid #ff9600;
  background-color:#ffca7f;
  color:white
}

ul.pager li.pager-next a,
ul.pager li.pager-previous a,
ul.pager li.pager-last a,
ul.pager li.pager-first a{
  border:1px solid white;
}

ul.pager li a:hover{
  background-color:#ff9600;
  color:white;
  border:1px solid #ff9600;
}

/*********************************** FORM *************************************/

input.form-text:focus,
textarea:focus{border:1px solid #47361E}

input.form-submit{background-color:#FF9500}

input.form-submit:hover{background-color:#db8100}

input.form-submit:active{background:#db8100}

fieldset{
  border:1px solid #EF956C;
  background-color:#FAF2F3;
}

fieldset fieldset{background-color:#F5FDFF}

fieldset fieldset.collapsed{background-color:#FAF2F3}

.collapsible legend{background-image:url(img/arrow-expanded.png)}

.collapsed legend{background-image:url(img/arrow-collapsed.png)}

/*********************************** TABS *************************************/

div.tabs{border-bottom:2px solid #FF9500}

ul.tabs li.active a{
  background-color:#FF9500;
  color:white;
}

ul.tabs li a:hover{
  background-color:#db8100;
  color:white;
}

/************************************ BLOCKS **********************************/

.sidebar .block{
  background-color:#ffca7f;
  border:1px solid #ffca7f;
}

/************************************ NODES ***********************************/


.tag{
  background-color:#FCFBFB;
  border:1px solid #EFEEEE;
}

.tag li a{background-image:url(img/tag.png)}

/******************************* NODES META ***********************************/

.node .meta div.links{
  background-color:#FCFBFB;
  border:1px solid #EFEEEE;
}

/********************************** COMMENTS **********************************/

.comment{
  background-color:#FCFBFB;
  border:1px solid #EFEEEE;
}

.comment.even{background-color:#FFFCFC}

.comment .meta div.links{
  background-color:#FFFCFC;/**/
  border:1px solid #EAE3E4;
}

.comment.even .meta div.links{background-color:#FFFCFC}

.comment .submitted{color:#FF9500}

/*********************************** EOF **************************************/